/* Navbar styles */
.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: auto;
    
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
    margin-top: -10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Navigation links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #10b981; /* green */
  }
  
  /* Hamburger Menu */
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  /* Hamburger Animations */
  .rotate1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .rotate2 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .hide {
    opacity: 0;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    display: none;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease;
  }
}