.gallery-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}

.gallery-title {
  font-family: "Ephesis", cursive;
  font-size: 60px;
  margin-bottom: 20px;
  color: #000;
}

.upload-section {
  margin-bottom: 20px;
}

.owner-login-btn {
  background-color: #944;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.gallery-image {
  width: 360px;
  height: 400px;
  object-fit: cover;
  border-radius: 35% 10%;
  border-top: 5px solid #aa6c96e4;
  border-bottom: 5px solid #aa6c96e4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-controls button {
  background-color: #d69c7c;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 6px;
}
.gallery-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.gallery-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 3% 35%;
  border-top: 5px solid #aa6c96e4;
  border-bottom: 5px solid #aa6c96e4;
}

.gallery-image:hover {
  transform: scale(1.05) rotateZ(1deg);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #944;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
